
RecordEdits

Define DiscreteDistribution { DiscDstT/Q }
Define ExponentialDistribution { ExpDstArr }
Define NormalDistribution { ND1  ND2  ND3  ND4  ND5  ND6  ND7  ND8  NorDstOrder1  NorDstOrder2 }
Define UniformDistribution { UniDstFood1  UniDstFood2 }
Define Branch { T/D }
Define EntityConveyor { OrderDstOper1  OrderDstOper2  OrderPlacingCounter2  OrderplacingCounter1  TATowardsExit  Table1  Table2  Table3  Table4  Table5  Table6  Table7  Table8 }
Define EntityGenerator { G4CustArrival }
Define EntitySink { CustomerExit  CustomerLeaving }
Define Queue { DineInQ  G4FoodOrderDQ  G4FoodOrderTQ  G4SelfServeQ1  G4SelfServiceQ2 }
Define Release { ReleaseODope1  ReleaseODope2  ReleaseOTope1  ReleaseOTope2  ReleaseT1  ReleaseT2  ReleaseT3  ReleaseT4  ReleaseT5  ReleaseT6  ReleaseT7  ReleaseT8 }
Define Seize { Seize1  SeizeODOpe1  SeizeODOpe2  SeizeOTope2  SeizeT1  SeizeT2  SeizeT3  SeizeT4  SeizeT5  SeizeT6  SeizeT7  SiezeOTope1 }
Define SimEntity { G4Customer }
Define Resource { G4OrderTakingOp1  G4OrderTakingOp2  OrderDistribuOpe1  OrderDistribuOpe2  T1  T2  T3  T4  T5  T6  T7  T8 }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define VideoRecorder { VideoRecorder1 }
Define View { View1 }

DiscDstT/Q UnitType { DimensionlessUnit }
ExpDstArr UnitType { TimeUnit }
ND1 UnitType { TimeUnit }
ND2 UnitType { TimeUnit }
ND3 UnitType { TimeUnit }
ND4 UnitType { TimeUnit }
ND5 UnitType { TimeUnit }
ND6 UnitType { TimeUnit }
ND7 UnitType { TimeUnit }
ND8 UnitType { TimeUnit }
NorDstOrder1 UnitType { TimeUnit }
NorDstOrder2 UnitType { TimeUnit }
UniDstFood1 UnitType { TimeUnit }
UniDstFood2 UnitType { TimeUnit }

Simulation Description { 'Simulation run control inputs' }
Simulation RunDuration { 540  min }
Simulation RunOutputList { { [CustomerLeaving].NumberProcessed } { [G4OrderTakingOp1].UnitsInUseAverage/[G4OrderTakingOp1].Capacity } { [G4OrderTakingOp2].UnitsInUseAverage/[G4OrderTakingOp2].Capacity } { [OrderDistribuOpe1].UnitsInUseAverage/[OrderDistribuOpe1].Capacity } { [OrderDistribuOpe2].UnitsInUseAverage/[OrderDistribuOpe2].Capacity } { [TATowardsExit].NumberProcessed } { [DineInQ].NumberProcessed } { [CustomerExit].NumberProcessed } }
Simulation NumberOfReplications { 10 }

# *** DiscreteDistribution ***

DiscDstT/Q RandomSeed { 11 }
DiscDstT/Q ValueList { 1  2 }
DiscDstT/Q ProbabilityList { 0.65  0.35 }

# *** ExponentialDistribution ***

ExpDstArr RandomSeed { 10 }
ExpDstArr Mean { 4  min }

# *** NormalDistribution ***

ND1 RandomSeed { 4 }
ND1 MinValue { 8  min }
ND1 MaxValue { 74  min }
ND1 Mean { 41  min }
ND1 StandardDeviation { 21  min }

ND2 RandomSeed { 5 }
ND2 MinValue { 8  min }
ND2 MaxValue { 74  min }
ND2 Mean { 41  min }
ND2 StandardDeviation { 21  min }

ND3 RandomSeed { 6 }
ND3 MinValue { 8  min }
ND3 MaxValue { 74  min }
ND3 Mean { 41  min }
ND3 StandardDeviation { 21  min }

ND4 RandomSeed { 7 }
ND4 MinValue { 8  min }
ND4 MaxValue { 74  min }
ND4 Mean { 41  min }
ND4 StandardDeviation { 21  min }

ND5 RandomSeed { 8 }
ND5 MinValue { 8  min }
ND5 MaxValue { 74  min }
ND5 Mean { 41  min }
ND5 StandardDeviation { 21  min }

ND6 RandomSeed { 9 }
ND6 MinValue { 8  min }
ND6 MaxValue { 74  min }
ND6 Mean { 41  min }
ND6 StandardDeviation { 21  min }

ND7 RandomSeed { 13 }
ND7 MinValue { 8  min }
ND7 MaxValue { 74  min }
ND7 Mean { 41  min }
ND7 StandardDeviation { 21  min }

ND8 RandomSeed { 14 }
ND8 MinValue { 8  min }
ND8 MaxValue { 74  min }
ND8 Mean { 41  min }
ND8 StandardDeviation { 21  min }

NorDstOrder1 RandomSeed { 2 }
NorDstOrder1 MinValue { 1.5  min }
NorDstOrder1 MaxValue { 6.5  min }
NorDstOrder1 Mean { 8  min }
NorDstOrder1 StandardDeviation { 3  min }

NorDstOrder2 RandomSeed { 12 }
NorDstOrder2 MinValue { 1.5  min }
NorDstOrder2 MaxValue { 6.5  min }
NorDstOrder2 Mean { 8  min }
NorDstOrder2 StandardDeviation { 3  min }

# *** UniformDistribution ***

UniDstFood1 RandomSeed { 3 }
UniDstFood1 MinValue { 1  min }
UniDstFood1 MaxValue { 7  min }

UniDstFood2 RandomSeed { 1 }
UniDstFood2 MinValue { 1  min }
UniDstFood2 MaxValue { 7  min }

# *** Branch ***

T/D NextComponentList { G4FoodOrderDQ  G4FoodOrderTQ }
T/D Choice { DiscDstT/Q }

# *** EntityConveyor ***

OrderDstOper1 NextComponent { ReleaseODope1 }
OrderDstOper1 TravelTime { UniDstFood1 }

OrderDstOper2 NextComponent { ReleaseODope2 }

OrderPlacingCounter2 NextComponent { ReleaseOTope2 }

OrderplacingCounter1 NextComponent { ReleaseOTope1 }
OrderplacingCounter1 TravelTime { NorDstOrder1 }

TATowardsExit NextComponent { CustomerExit }

Table1 NextComponent { ReleaseT1 }
Table1 TravelTime { ND1 }

Table2 NextComponent { ReleaseT2 }
Table2 TravelTime { ND2 }

Table3 NextComponent { ReleaseT3 }
Table3 TravelTime { ND3 }

Table4 NextComponent { ReleaseT4 }
Table4 TravelTime { ND4 }

Table5 NextComponent { ReleaseT5 }
Table5 TravelTime { ND5 }

Table6 NextComponent { ReleaseT6 }
Table6 TravelTime { ND1 }

Table7 NextComponent { ReleaseT7 }

Table8 NextComponent { ReleaseT8 }

# *** EntityGenerator ***

G4CustArrival NextComponent { T/D }
G4CustArrival InterArrivalTime { ExpDstArr }
G4CustArrival PrototypeEntity { G4Customer }

# *** EntitySink ***



# *** Queue ***

DineInQ RenegeTime { 0  min }
DineInQ RenegeCondition { 'this.QueuePosition >5' }
DineInQ RenegeDestination { CustomerExit }

G4FoodOrderDQ RenegeTime { 0  min }
G4FoodOrderDQ RenegeCondition { 'this.QueuePosition >6' }
G4FoodOrderDQ RenegeDestination { CustomerLeaving }

G4FoodOrderTQ RenegeTime { 0  min }
G4FoodOrderTQ RenegeCondition { 'this.QueuePosition >6' }
G4FoodOrderTQ RenegeDestination { CustomerLeaving }



# *** Release ***

ReleaseODope1 NextComponent { TATowardsExit }
ReleaseODope1 ResourceList { OrderDistribuOpe1 }

ReleaseODope2 NextComponent { DineInQ }
ReleaseODope2 ResourceList { OrderDistribuOpe2 }

ReleaseOTope1 NextComponent { G4SelfServeQ1 }
ReleaseOTope1 ResourceList { G4OrderTakingOp1 }

ReleaseOTope2 NextComponent { G4SelfServiceQ2 }
ReleaseOTope2 ResourceList { G4OrderTakingOp2 }

ReleaseT1 NextComponent { CustomerExit }
ReleaseT1 ResourceList { T1 }

ReleaseT2 NextComponent { CustomerExit }
ReleaseT2 ResourceList { T2 }

ReleaseT3 NextComponent { CustomerExit }
ReleaseT3 ResourceList { T3 }

ReleaseT4 NextComponent { CustomerExit }
ReleaseT4 ResourceList { T4 }

ReleaseT5 NextComponent { CustomerExit }
ReleaseT5 ResourceList { T5 }

ReleaseT6 NextComponent { CustomerExit }
ReleaseT6 ResourceList { T6 }

ReleaseT7 NextComponent { CustomerExit }
ReleaseT7 ResourceList { T7 }

ReleaseT8 NextComponent { CustomerExit }
ReleaseT8 ResourceList { T8 }

# *** Seize ***

Seize1 NextComponent { Table8 }
Seize1 WaitQueue { DineInQ }
Seize1 ResourceList { T8 }

SeizeODOpe1 NextComponent { OrderDstOper1 }
SeizeODOpe1 WaitQueue { G4SelfServeQ1 }
SeizeODOpe1 ResourceList { OrderDistribuOpe1 }

SeizeODOpe2 NextComponent { OrderDstOper2 }
SeizeODOpe2 WaitQueue { G4SelfServiceQ2 }
SeizeODOpe2 ResourceList { OrderDistribuOpe2 }

SeizeOTope2 NextComponent { OrderPlacingCounter2 }
SeizeOTope2 WaitQueue { G4FoodOrderDQ }
SeizeOTope2 ResourceList { G4OrderTakingOp2 }

SeizeT1 NextComponent { Table1 }
SeizeT1 WaitQueue { DineInQ }
SeizeT1 ResourceList { T1 }

SeizeT2 NextComponent { Table2 }
SeizeT2 WaitQueue { DineInQ }
SeizeT2 ResourceList { T2 }

SeizeT3 NextComponent { Table3 }
SeizeT3 WaitQueue { DineInQ }
SeizeT3 ResourceList { T3 }

SeizeT4 NextComponent { Table4 }
SeizeT4 WaitQueue { DineInQ }
SeizeT4 ResourceList { T4 }

SeizeT5 NextComponent { Table5 }
SeizeT5 WaitQueue { DineInQ }
SeizeT5 ResourceList { T5 }

SeizeT6 NextComponent { Table6 }
SeizeT6 WaitQueue { DineInQ }
SeizeT6 ResourceList { T6 }

SeizeT7 NextComponent { Table7 }
SeizeT7 WaitQueue { DineInQ }
SeizeT7 ResourceList { T7 }

SiezeOTope1 NextComponent { OrderplacingCounter1 }
SiezeOTope1 WaitQueue { G4FoodOrderTQ }
SiezeOTope1 ResourceList { G4OrderTakingOp1 }

# *** SimEntity ***


# *** Resource ***

G4OrderTakingOp1 Capacity { 1 }

G4OrderTakingOp2 Capacity { 1 }

OrderDistribuOpe1 Capacity { 1 }

OrderDistribuOpe2 Capacity { 1 }

T1 Capacity { 2 }

T2 Capacity { 2 }

T3 Capacity { 2 }

T4 Capacity { 2 }

T5 Capacity { 2 }

T6 Capacity { 2 }



# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 7812 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

DiscDstT/Q Position { -13.5  1.8  0.0  m }

ExpDstArr Position { -15.1  1.8  0.0  m }

ND1 Position { 1.4  4.1  0.0  m }

ND2 Position { 1.4  2.6  0.0  m }

ND3 Position { 1.3  1.0  0.0  m }

ND4 Position { 1.5  -0.5  0.0  m }

ND5 Position { 1.3  -2.2  0.0  m }

ND6 Position { 1.5  -3.7  0.0  m }

ND7 Position { 1.3  5.5  0.0  m }

ND8 Position { 1.6  -5.0  0.0  m }

NorDstOrder1 Position { -9.4  4.8  0.0  m }

NorDstOrder2 Position { -9.6  -4.5  0.0  m }

UniDstFood1 Position { -3.6  5.2  0.0  m }

UniDstFood2 Position { -3.9  -4.6  0.0  m }

T/D Position { -13.3  0.3  0.0  m }

OrderDstOper1 Points { { -4.3  1.4  0.0  m } { -3.1  1.4  0.0  m } }

OrderDstOper2 Points { { -4.1  -0.8  0.0  m } { -3.1  -0.8  0.0  m } }

OrderPlacingCounter2 Points { { -10.0  -0.7  0.0  m } { -9.0  -0.7  0.0  m } }

OrderplacingCounter1 Points { { -9.8  0.9  0.0  m } { -8.8  0.9  0.0  m } }

TATowardsExit Points { { -1.0  5.8  0.0  m } { -0.0  5.8  0.0  m } }

Table1 Points { { 4.3  3.2  0.0  m } { 5.3  3.2  0.0  m } }

Table2 Points { { 4.3  1.8  0.0  m } { 5.3  1.8  0.0  m } }

Table3 Points { { 4.4  0.3  0.0  m } { 5.4  0.3  0.0  m } }

Table4 Points { { 4.5  -1.3  0.0  m } { 5.5  -1.3  0.0  m } }

Table5 Points { { 4.5  -2.8  0.0  m } { 5.5  -2.8  0.0  m } }

Table6 Points { { 4.5  -4.2  0.0  m } { 5.5  -4.2  0.0  m } }

Table7 Points { { 4.3  4.7  0.0  m } { 5.3  4.7  0.0  m } }

Table8 Points { { 4.6  -5.6  0.0  m } { 5.6  -5.6  0.0  m } }

G4CustArrival Position { -14.9  0.3  0.0  m }

CustomerExit Position { 11.2  -0.2  0.0  m }

CustomerLeaving Position { -12.7  -2.9  0.0  m }

DineInQ Position { -1.5  -0.7  0.0  m }

G4FoodOrderDQ Position { -11.9  -0.8  0.0  m }

G4FoodOrderTQ Position { -11.8  1.6  0.0  m }

G4SelfServeQ1 Position { -5.9  0.6  0.0  m }

G4SelfServiceQ2 Position { -6.1  -0.9  0.0  m }

ReleaseODope1 Position { -2.6  2.6  0.0  m }

ReleaseODope2 Position { -2.7  -1.9  0.0  m }

ReleaseOTope1 Position { -7.8  2.4  0.0  m }

ReleaseOTope2 Position { -8.1  -1.7  0.0  m }

ReleaseT1 Position { 6.8  3.6  0.0  m }

ReleaseT2 Position { 6.8  2.2  0.0  m }

ReleaseT3 Position { 6.9  1.1  0.0  m }

ReleaseT4 Position { 7.0  -0.2  0.0  m }

ReleaseT5 Position { 6.9  -1.5  0.0  m }

ReleaseT6 Position { 7.0  -2.9  0.0  m }

ReleaseT7 Position { 6.3  5.2  0.0  m }

ReleaseT8 Position { 6.7  -4.6  0.0  m }

Seize1 Position { 3.2  -4.9  0.0  m }

SeizeODOpe1 Position { -4.9  2.6  0.0  m }

SeizeODOpe2 Position { -4.7  -1.9  0.0  m }

SeizeOTope2 Position { -10.7  -1.7  0.0  m }

SeizeT1 Position { 2.8  3.5  0.0  m }

SeizeT2 Position { 2.9  2.1  0.0  m }

SeizeT3 Position { 2.9  0.6  0.0  m }

SeizeT4 Position { 3.0  -0.7  0.0  m }

SeizeT5 Position { 3.1  -2.0  0.0  m }

SeizeT6 Position { 3.1  -3.3  0.0  m }

SeizeT7 Position { 2.8  5.1  0.0  m }

SiezeOTope1 Position { -10.7  2.2  0.0  m }

G4Customer Position { -16.4  0.3  0.0  m }
G4Customer Alignment { 0.0  0.0  -0.5 }

G4OrderTakingOp1 Position { -9.3  3.4  0.0  m }

G4OrderTakingOp2 Position { -9.6  -3.0  0.0  m }

OrderDistribuOpe1 Position { -3.6  3.9  0.0  m }

OrderDistribuOpe2 Position { -3.8  -3.3  0.0  m }

T1 Position { 4.8  4.0  0.0  m }

T2 Position { 4.8  2.6  0.0  m }

T3 Position { 4.8  1.1  0.0  m }

T4 Position { 4.9  -0.4  0.0  m }

T5 Position { 4.9  -2.0  0.0  m }

T6 Position { 5.0  -3.4  0.0  m }

T7 Position { 4.7  5.6  0.0  m }

T8 Position { 5.0  -4.8  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** VideoRecorder ***

VideoRecorder1 Position { 14.8  5.8  0.0  m }
VideoRecorder1 CaptureStartTime { 0  min }
VideoRecorder1 CaptureInterval { 1  min }
VideoRecorder1 CaptureViews { View1 }
VideoRecorder1 SaveVideo { TRUE }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -2.328575  -0.043047  16.076898  m }
View1 ViewPosition { -2.328575  -0.043047  33.397406  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
